$rootColor: #f9fafb;
$primaryColor: #1b152b;
$secondryColor: #7f56d9;
$secondryColor2: #c7a0f9;
$liColor: #FFFFFF;
$textGray: #7a7d9c;
$backColor: #EFF0F6;
$lineColor: #EDF0EE;
$LinearColor: linear-gradient(
  90deg,
  #e9d8ff -195.88%,
  rgba(255, 255, 255, 0) 364.12%,
  #29252e 364.12%
);