html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
.container .header {
  background-color: #1b152b;
  height: 60px;
  border-radius: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (max-width: 475px) {
  .container .header {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    height: 54px;
  }
}
.container .header .header-wrap {
  height: 35px;
  width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 475px) {
  .container .header .header-wrap {
    width: 95%;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 475px) {
  .container .header .header-wrap .header-logo {
    width: 152px;
    height: 23px;
    display: flex;
    align-items: flex-start;
  }
  .container .header .header-wrap .header-logo img {
    width: 100%;
    height: 100%;
  }
}
.container .header .header-wrap ul {
  display: flex;
  width: 245px;
  height: 22px;
  gap: 16px;
}
@media (max-width: 475px) {
  .container .header .header-wrap ul {
    display: none;
  }
}
.container .header .header-wrap ul li {
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}
.container .header .header-wrap ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
.container .header .header-wrap .header-button button {
  width: 137px;
  height: 35px;
  border-radius: 20px;
  border: transparent;
  background-color: #7f56d9;
}
@media (max-width: 475px) {
  .container .header .header-wrap .header-button button {
    display: none;
  }
}
.container .header .header-wrap .header-button button a {
  text-decoration: none;
  color: #FFFFFF;
  width: 77px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.container .header .header-wrap .header-menu {
  display: none;
}
@media (max-width: 475px) {
  .container .header .header-wrap .header-menu {
    display: flex;
    width: 30px;
    height: 30px;
  }
  .container .header .header-wrap .header-menu a img {
    width: 100%;
    height: 100%;
  }
}
.container .hero {
  height: 884px;
  margin-top: 48px;
}
@media (max-width: 475px) {
  .container .hero {
    height: 710px;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
  }
}
.container .hero .hero-heading {
  width: 100%;
  height: 277px;
  gap: 15px;
  display: grid;
}
@media (max-width: 475px) {
  .container .hero .hero-heading {
    width: 100%;
    height: 147px;
  }
}
.container .hero .hero-heading .hero-h1 {
  width: 100%;
  height: 174px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 475px) {
  .container .hero .hero-heading .hero-h1 {
    height: 87px;
    width: 100%;
  }
}
.container .hero .hero-heading .hero-h1 h1 {
  text-align: center;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 88px;
  color: #1b152b;
}
@media (max-width: 475px) {
  .container .hero .hero-heading .hero-h1 h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 36px;
  }
}
.container .hero .hero-heading .hero-p {
  width: 100%;
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 475px) {
  .container .hero .hero-heading .hero-p {
    width: 100%;
    height: 17px;
  }
}
.container .hero .hero-heading .hero-p p {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #7a7d9c;
}
@media (max-width: 475px) {
  .container .hero .hero-heading .hero-p p {
    font-size: 12px;
    line-height: 17px;
    margin-top: 5px;
  }
}
.container .hero .hero-heading .hero-button {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 475px) {
  .container .hero .hero-heading .hero-button {
    width: 100%;
    height: 27px;
  }
}
.container .hero .hero-heading .hero-button .but-black {
  width: 108px;
  height: 35px;
  border-radius: 20px;
  background-color: #1b152b;
  border-color: transparent;
}
@media (max-width: 475px) {
  .container .hero .hero-heading .hero-button .but-black {
    width: 61px;
    height: 27px;
  }
}
.container .hero .hero-heading .hero-button .but-black a {
  width: 48px;
  font-weight: 400;
  line-height: 19px;
  font-size: 16px;
  font-family: "Inter", serif;
  font-style: normal;
  text-decoration: none;
  height: 19px;
  color: #FFFFFF;
}
@media (max-width: 475px) {
  .container .hero .hero-heading .hero-button .but-black a {
    font-size: 12px;
    line-height: 16px;
  }
}
.container .hero .hero-heading .hero-button .but-purp {
  width: 137px;
  height: 35px;
  border-radius: 20px;
  border-color: transparent;
  background-color: #7f56d9;
}
@media (max-width: 475px) {
  .container .hero .hero-heading .hero-button .but-purp {
    width: 85px;
    height: 27px;
  }
}
.container .hero .hero-heading .hero-button .but-purp a {
  font-weight: 400;
  line-height: 19px;
  font-size: 16px;
  font-family: "Inter", serif;
  font-style: normal;
  text-decoration: none;
  height: 19px;
  color: #FFFFFF;
  width: 77px;
}
@media (max-width: 475px) {
  .container .hero .hero-heading .hero-button .but-purp a {
    font-size: 12px;
    line-height: 16px;
  }
}
.container .hero .hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 388px;
  margin-top: 50px;
  margin-bottom: 40px;
}
@media (max-width: 475px) {
  .container .hero .hero-img {
    height: 245px;
    width: 100%;
  }
  .container .hero .hero-img img {
    height: 100%;
    width: 100%;
  }
}
.container .hero .hero-img img {
  border-radius: 190px;
}
@media (max-width: 475px) {
  .container .hero .hero-img img {
    border-radius: 20px;
  }
}
.container .hero .hero-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 123px;
  background-color: #EFF0F6;
  width: 95%;
  margin: auto;
}
@media (max-width: 475px) {
  .container .hero .hero-main {
    height: 198px;
    border: 1px solid #EFF0F6;
    border-radius: 16px;
    background-color: transparent;
    display: block;
  }
}
.container .hero .hero-main .stat1 {
  height: 91px;
  width: 233px;
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat1 {
    margin-top: 10px;
    width: 100%;
  }
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat1 {
    height: 43px;
    margin-top: 20px;
  }
}
.container .hero .hero-main .stat1 h3 {
  color: #7f56d9;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  height: 58px;
  font-family: "Inter", serif;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat1 h3 {
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.container .hero .hero-main .stat1 p {
  color: #7f56d9;
  font-weight: 400;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 32px;
  height: 33px;
  text-align: center;
  width: 235px;
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat1 p {
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.container .hero .hero-main .stat2 {
  height: 91px;
  width: 138px;
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat2 {
    margin-top: 10px;
    width: 100%;
  }
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat2 {
    height: 45px;
  }
}
.container .hero .hero-main .stat2 h3 {
  color: #7f56d9;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  height: 58px;
  font-family: "Inter", serif;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat2 h3 {
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.container .hero .hero-main .stat2 p {
  color: #7f56d9;
  font-weight: 400;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 32px;
  height: 33px;
  text-align: center;
  width: 139px;
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat2 p {
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.container .hero .hero-main .stat3 {
  height: 91px;
  width: 255px;
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat3 {
    margin-top: 10px;
    width: 100%;
  }
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat3 {
    height: 45px;
  }
}
.container .hero .hero-main .stat3 h3 {
  color: #7f56d9;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  height: 58px;
  font-family: "Inter", serif;
  font-style: normal;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat3 h3 {
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
  }
}
.container .hero .hero-main .stat3 p {
  color: #7f56d9;
  font-weight: 400;
  font-size: 24px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  line-height: 32px;
  height: 33px;
  text-align: center;
  width: 226px;
}
@media (max-width: 475px) {
  .container .hero .hero-main .stat3 p {
    height: 19px;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.container .hero .hero-main .line {
  height: 84px;
  border: 1px solid #EDF0EE;
}
@media (max-width: 475px) {
  .container .hero .hero-main .line {
    width: 208px;
    height: 0px;
    margin-top: 10px;
    text-align: center;
    margin-left: 110px;
  }
}
.container .discover {
  width: 100%;
  height: 697px;
  margin-top: 30px;
  padding-top: 30px;
}
@media (max-width: 475px) {
  .container .discover {
    height: 1255px;
    width: 90%;
    margin: 0 auto;
  }
}
.container .discover .discover-text {
  width: 100%;
  height: 622px;
}
.container .discover .discover-text .feautues {
  width: 900px;
  height: 150px;
  margin: 0 auto;
}
@media (max-width: 475px) {
  .container .discover .discover-text .feautues {
    width: 100%;
    height: 145px;
  }
}
.container .discover .discover-text .feautues .discover-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .discover .discover-text .feautues .discover-section button {
  width: 85px;
  height: 30px;
  border: 1px solid #EEE2FE;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #E9D8FF -195.88%, rgba(255, 255, 255, 0) 364.12%, #29252E 364.12%);
}
.container .discover .discover-text .feautues .discover-section button a {
  text-decoration: none;
  width: 65px;
  height: 22px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #7f56d9;
}
.container .discover .discover-text .feautues .discover-frame {
  width: 100%;
  height: 100px;
  margin-top: 18px;
  margin: 0 auto;
}
@media (max-width: 475px) {
  .container .discover .discover-text .feautues .discover-frame {
    width: 90%;
    height: 112px;
    margin: 0 auto;
    margin-top: 10px;
  }
}
.container .discover .discover-text .feautues .discover-frame h2 {
  width: 100%;
  height: 58px;
  text-align: center;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #1b152b;
}
@media (max-width: 475px) {
  .container .discover .discover-text .feautues .discover-frame h2 {
    width: 100%;
    margin: 0 auto;
    height: 58px;
    font-weight: 500;
    font-size: 35px;
    line-height: 32px;
  }
}
.container .discover .discover-text .feautues .discover-frame p {
  width: 100%;
  height: 22px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #7a7d9c;
  margin-top: 15px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .feautues .discover-frame p {
    width: 100%;
    height: 34px;
    font-size: 15px;
    line-height: 19px;
    margin-top: 15px;
  }
}
.container .discover .discover-text .discover-content {
  width: 100%;
  height: 422px;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  border: 1px solid #EFF0F6;
  margin-top: 50px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content {
    display: block;
    height: 1086px;
  }
}
.container .discover .discover-text .discover-content .each1 {
  width: 272px;
  height: 328px;
  margin-top: 45px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each1 {
    height: 320px;
    width: 287px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
.container .discover .discover-text .discover-content .each1 img {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each1 img {
    height: 24px;
  }
}
.container .discover .discover-text .discover-content .each1 .each-text1 {
  width: 100%;
  height: 236px;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each1 .each-text1 {
    width: 285px;
  }
}
.container .discover .discover-text .discover-content .each1 .each-text1 h5 {
  width: 245px;
  margin: 0 auto;
  height: 68px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #1b152b;
  text-align: center;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each1 .each-text1 h5 {
    width: 245px;
    height: 58px;
  }
}
.container .discover .discover-text .discover-content .each1 .each-text1 p {
  color: #7a7d9c;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
  width: 231px;
  height: 132px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each1 .each-text1 p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.container .discover .discover-text .discover-content .discover-line {
  height: 201px;
  border: 1px solid #EDF0EE;
  width: 0;
  margin: auto 0;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .discover-line {
    width: 357px;
    height: 0;
    margin: 0 auto;
  }
}
.container .discover .discover-text .discover-content .each2 {
  width: 272px;
  height: 328px;
  margin-top: 45px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each2 {
    height: 320px;
    width: 287px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each2 {
    height: 316px;
  }
}
.container .discover .discover-text .discover-content .each2 img {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each2 img {
    height: 24px;
  }
}
.container .discover .discover-text .discover-content .each2 .each-text2 {
  width: 100%;
  height: 236px;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each2 .each-text2 {
    width: 285px;
  }
}
.container .discover .discover-text .discover-content .each2 .each-text2 h5 {
  width: 245px;
  margin: 0 auto;
  height: 68px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #1b152b;
  text-align: center;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each2 .each-text2 h5 {
    width: 245px;
    height: 58px;
  }
}
.container .discover .discover-text .discover-content .each2 .each-text2 p {
  color: #7a7d9c;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
  width: 262px;
  height: 144px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each2 .each-text2 p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.container .discover .discover-text .discover-content .each3 {
  width: 272px;
  height: 328px;
  margin-top: 45px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each3 {
    height: 320px;
    width: 287px;
    margin: 0 auto;
    margin-top: 30px;
  }
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each3 {
    height: 292px;
  }
}
.container .discover .discover-text .discover-content .each3 img {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each3 img {
    height: 24px;
  }
}
.container .discover .discover-text .discover-content .each3 .each-text3 {
  width: 100%;
  height: 236px;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each3 .each-text3 {
    width: 285px;
  }
}
.container .discover .discover-text .discover-content .each3 .each-text3 h5 {
  width: 245px;
  margin: 0 auto;
  height: 68px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #1b152b;
  text-align: center;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each3 .each-text3 h5 {
    width: 245px;
    height: 58px;
  }
}
.container .discover .discover-text .discover-content .each3 .each-text3 p {
  color: #7a7d9c;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
  width: 262px;
  height: 120px;
}
@media (max-width: 475px) {
  .container .discover .discover-text .discover-content .each3 .each-text3 p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
.container .discover .discover-button {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 0;
  margin-top: 25px;
}
@media (max-width: 475px) {
  .container .discover .discover-button {
    display: none;
  }
}
.container .discover .discover-button .nav-button {
  width: 138px;
  height: 35px;
  background-color: #7f56d9;
  border-radius: 20px;
  border-color: transparent;
}
.container .discover .discover-button .nav-button a {
  text-decoration: none;
  width: 78px;
  height: 19px;
  font-weight: 500;
  font-family: "Inter", serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.container .discover .discover-button .button {
  width: 92px;
  gap: 8px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b152b;
  height: 24px;
  text-decoration: none;
}
.container .statement {
  height: 448px;
  padding: 43px 20px;
  margin-top: 30px;
}
@media (max-width: 475px) {
  .container .statement {
    width: 90%;
    height: 822px;
    margin-top: 30px;
    position: relative;
  }
}
.container .statement .statement-padd {
  border: 1px solid #EFF0F6;
  border-radius: 16px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .container .statement .statement-padd {
    padding: 17px;
    display: block;
    position: relative;
  }
}
.container .statement .statement-padd .left-content {
  width: 45%;
  height: 419px;
  margin: auto 20px;
  position: relative;
}
@media (max-width: 475px) {
  .container .statement .statement-padd .left-content {
    width: 100%;
  }
}
.container .statement .statement-padd .left-content .top-left {
  width: 100%;
  height: 346px;
  position: relative;
}
.container .statement .statement-padd .left-content .top-left .top-p {
  width: 196px;
  height: 30px;
  border-radius: 22px;
  border: 1px solid #EEE2FE;
  background: linear-gradient(90deg, #E9D8FF -195.88%, rgba(255, 255, 255, 0) 364.12%, #29252E 364.12%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .statement .statement-padd .left-content .top-left .top-p p {
  height: 22px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #7f56d9;
}
.container .statement .statement-padd .left-content .top-left h3 {
  width: 100%;
  height: 132px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 45px;
  color: #1b152b;
  margin-top: 20px;
}
@media (max-width: 475px) {
  .container .statement .statement-padd .left-content .top-left h3 {
    position: absolute;
    top: 500px;
    height: 72px;
    font-size: 28px;
    line-height: 24px;
  }
}
.container .statement .statement-padd .left-content .top-left .left-p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 144px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24px;
  color: #7a7d9c;
}
@media (max-width: 475px) {
  .container .statement .statement-padd .left-content .top-left .left-p {
    position: absolute;
    top: 620px;
    height: 146px;
    line-height: 20px;
    font-size: 17px;
  }
}
.container .statement .statement-padd .left-content .left-button {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 202px;
  height: 35px;
  gap: 15px;
}
@media (max-width: 475px) {
  .container .statement .statement-padd .left-content .left-button {
    position: absolute;
    top: 830px;
  }
}
.container .statement .statement-padd .left-content .left-button .button1 {
  width: 49px;
  height: 19px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #7f56d9;
}
@media (max-width: 475px) {
  .container .statement .statement-padd .left-content .left-button .button1 {
    width: 39px;
    height: 17px;
    font-size: 12px;
    line-height: 17px;
  }
}
.container .statement .statement-padd .left-content .left-button .button2 {
  width: 138px;
  height: 35px;
  border-radius: 20px;
  background-color: #7f56d9;
  border-color: transparent;
}
@media (max-width: 475px) {
  .container .statement .statement-padd .left-content .left-button .button2 {
    width: 85px;
    height: 27px;
  }
}
.container .statement .statement-padd .left-content .left-button .button2 .button2-a {
  height: 19px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 19px;
  color: #FFFFFF;
}
@media (max-width: 475px) {
  .container .statement .statement-padd .left-content .left-button .button2 .button2-a {
    font-size: 12px;
    line-height: 17px;
  }
}
.container .statement .statement-padd .right-content {
  width: 45%;
  height: 448px;
  margin: 20px;
}
@media (max-width: 475px) {
  .container .statement .statement-padd .right-content {
    position: absolute;
    bottom: 380px;
    left: 0;
    width: 90%;
    height: 448px;
    position: relative;
  }
}
.container .statement .statement-padd .right-content .right-content-img {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}
@media (max-width: 475px) {
  .container .statement .statement-padd .right-content .right-content-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.container .clients {
  height: 270px;
  width: 95%;
  margin: auto;
  margin-top: 100px;
  position: relative;
}
@media (max-width: 475px) {
  .container .clients {
    width: 100%;
    height: 348px;
    margin-top: 130px;
  }
}
.container .clients .client-top {
  width: 80%;
  height: 172px;
  margin: 0 auto;
}
.container .clients .client-top .client-section {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .clients .client-top .client-section .client-section-a {
  width: 99px;
  height: 22px;
  border: 1px solid #EEE2FE;
  background: linear-gradient(90deg, #E9D8FF -195.88%, rgba(255, 255, 255, 0) 364.12%, #29252E 364.12%);
  border-radius: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Manrope", serif;
  font-style: normal;
}
.container .clients .client-top .client-heading {
  width: 100%;
  height: 122px;
  position: relative;
}
@media (max-width: 475px) {
  .container .clients .client-top .client-heading {
    width: 100%;
    height: 117px;
    margin-top: 15px;
  }
}
.container .clients .client-top .client-heading .client-heading-h2 {
  height: 58px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #1b152b;
  text-align: center;
}
@media (max-width: 475px) {
  .container .clients .client-top .client-heading .client-heading-h2 {
    height: 58px;
    font-weight: 500;
    font-size: 32px;
    line-height: 29px;
  }
}
.container .clients .client-top .client-heading .client-heading-p {
  height: 44px;
  width: 85%;
  margin: auto;
  margin-top: 18px;
  color: #7a7d9c;
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  font-family: "Manrope", serif;
  font-style: normal;
}
@media (max-width: 475px) {
  .container .clients .client-top .client-heading .client-heading-p {
    height: 51px;
    font-size: 12px;
    line-height: 17px;
    margin-top: 15px;
  }
}
.container .clients .client-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
@media (max-width: 475px) {
  .container .clients .client-bottom {
    width: 100%;
    height: 164px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 475px) {
  .container .clients .client-bottom .company-logo {
    margin-right: 30px;
  }
}
.container .services {
  width: 95%;
  margin-top: 35px;
  padding: 36px 20px;
}
@media (max-width: 475px) {
  .container .services {
    display: none;
  }
}
.container .services .services-main {
  display: flex;
  justify-content: space-between;
  height: 406px;
}
.container .services .services-main .left-service {
  width: 45%;
  height: 352px;
  margin: auto 0;
}
.container .services .services-main .left-service .top-service {
  width: 100%;
  height: 272px;
}
.container .services .services-main .left-service .top-service .left-top-tag {
  width: 94px;
  height: 30px;
  border-radius: 22px;
  border: 1px solid #EEE2FE;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #E9D8FF -195.88%, rgba(255, 255, 255, 0) 364.12%, #29252E 364.12%);
}
.container .services .services-main .left-service .top-service .left-top-tag .left-top-tag-p {
  width: 62px;
  height: 22px;
  font-style: normal;
  font-family: "Manrope", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #7f56d9;
}
.container .services .services-main .left-service .top-service h3 {
  width: 100%;
  height: 88px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 43px;
  color: #A05BF8;
  margin-top: 10px;
}
.container .services .services-main .left-service .top-service p {
  width: 100%;
  height: 114px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-top: 10px;
  color: #7a7d9c;
}
.container .services .services-main .left-service .bottom-service {
  width: 100%;
  height: 56px;
  display: flex;
  gap: 10px;
  justify-content: end;
  margin-top: 22px;
}
.container .services .services-main .right-service {
  width: 43%;
  height: 406px;
}
.container .services .services-main .right-service .right-service-img {
  width: 100%;
  border-radius: 32px;
  height: 100%;
}
.container .global {
  height: 754px;
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
}
@media (max-width: 475px) {
  .container .global {
    width: 100%;
    height: 925px;
  }
}
.container .global .global-tag p {
  background: linear-gradient(90deg, #E9D8FF -195.88%, rgba(255, 255, 255, 0) 364.12%, #29252E 364.12%);
  border-radius: 22px;
  text-align: center;
  width: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #7f56d9;
  margin: 0 auto;
  height: 30px;
}
@media (max-width: 475px) {
  .container .global .global-tag p {
    height: 24px;
  }
}
.container .global h1 {
  height: 58px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #1b152b;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 475px) {
  .container .global h1 {
    height: 29px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 475px) {
  .container .global .global-main {
    height: 840px;
  }
}
.container .global .global-main .global-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 447px;
  gap: 50px;
}
@media (max-width: 475px) {
  .container .global .global-main .global-text {
    display: block;
    height: 738px;
    margin-top: 10px;
  }
}
.container .global .global-main .global-text img {
  height: 335px;
  border-radius: 16px;
  margin: auto 0;
}
@media (max-width: 475px) {
  .container .global .global-main .global-text img {
    height: 335px;
    width: 100%;
  }
}
.container .global .global-main .global-text .frame-text {
  height: 305px;
  margin: auto 0;
}
@media (max-width: 475px) {
  .container .global .global-main .global-text .frame-text {
    height: 371px;
    width: 100%;
    margin-top: 10px;
  }
}
.container .global .global-main .global-text .frame-text .frame-top {
  height: 269px;
  width: 440px;
  position: relative;
}
@media (max-width: 475px) {
  .container .global .global-main .global-text .frame-text .frame-top {
    height: 329px;
    margin: 0 auto;
  }
}
.container .global .global-main .global-text .frame-text .frame-top p {
  width: 100%;
  height: 171px;
  font-weight: 400;
  font-style: normal;
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 20px;
  color: #7a7d9c;
}
@media (max-width: 475px) {
  .container .global .global-main .global-text .frame-text .frame-top p {
    height: 266px;
    font-size: 18px;
    line-height: 22px;
  }
}
.container .global .global-main .global-text .frame-text .frame-top .clients-info {
  height: 78px;
  text-align: left;
  position: absolute;
  bottom: -20px;
}
@media (max-width: 475px) {
  .container .global .global-main .global-text .frame-text .frame-top .clients-info {
    height: 43px;
    bottom: 10px;
  }
}
.container .global .global-main .global-text .frame-text .frame-top .clients-info .client-1 {
  height: 29px;
  font-style: normal;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #1b152b;
}
.container .global .global-main .global-text .frame-text .frame-top .clients-info .client-2 {
  height: 24px;
  font-style: normal;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 20px;
  color: #1b152b;
  line-height: 24px;
}
.container .global .global-main .global-text .frame-text .global-logo {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: end;
  gap: 10px;
}
@media (max-width: 475px) {
  .container .global .global-main .global-text .frame-text .global-logo {
    height: 24px;
    width: 98%;
  }
}
.container .global .global-main .global-text .frame-text .global-logo .logo-1 img, .container .global .global-main .global-text .frame-text .global-logo .logo-2 img {
  width: 56px;
  height: 56px;
}
@media (max-width: 475px) {
  .container .global .global-main .global-text .frame-text .global-logo .logo-1 img, .container .global .global-main .global-text .frame-text .global-logo .logo-2 img {
    width: 30px;
    height: 30px;
  }
}
.container .global .other-logos {
  width: 100%;
  height: 139px;
  margin: auto;
}
@media (max-width: 475px) {
  .container .global .other-logos {
    height: 86px;
    width: 100%;
  }
}
.container .global .other-logos .line-logo {
  height: 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 475px) {
  .container .global .other-logos .line-logo {
    height: 17px;
  }
}
.container .global .other-logos .line-logo .logo-line {
  border: 1px solid rgba(0, 0, 0, 0.5019607843);
  width: 555px;
  height: 0;
}
@media (max-width: 475px) {
  .container .global .other-logos .line-logo .logo-line {
    width: 330px;
  }
}
.container .global .other-logos .line-logo p {
  width: 86px;
  height: 24px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7a7d9c;
}
@media (max-width: 475px) {
  .container .global .other-logos .line-logo p {
    width: 105px;
    height: 17px;
    font-size: 12px;
    line-height: 17px;
  }
}
.container .global .other-logos .logo-main {
  width: 622px;
  height: 104px;
  margin: 0 auto;
  margin-top: 20px;
}
@media (max-width: 475px) {
  .container .global .other-logos .logo-main {
    width: 100%;
    margin-top: 20px;
  }
}
.container .global .other-logos .logo-main .top-main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .container .global .other-logos .logo-main .top-main {
    justify-content: space-around;
  }
}
@media (max-width: 475px) {
  .container .global .other-logos .logo-main .top-main img {
    width: 86px;
    height: 24px;
  }
}
.container .global .other-logos .logo-main .bottom-main {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 475px) {
  .container .global .other-logos .logo-main .bottom-main img {
    width: 86px;
    height: 24px;
  }
}
.container .blogs {
  height: 778px;
}
@media (max-width: 475px) {
  .container .blogs {
    height: 1288px;
    margin-top: 15px;
  }
}
.container .blogs .blog-tag p {
  border-radius: 22px;
  height: 30px;
  width: 63px;
  font-style: normal;
  font-family: "Manrope", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #7f56d9;
  background: linear-gradient(90deg, #E9D8FF -195.88%, rgba(255, 255, 255, 0) 364.12%, #29252E 364.12%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container .blogs h1 {
  margin-top: 10px;
  text-align: center;
  height: 58px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #1b152b;
}
@media (max-width: 475px) {
  .container .blogs h1 {
    height: 29px;
    font-size: 24px;
    line-height: 29px;
  }
}
.container .blogs .blogs-collettion {
  display: flex;
  width: 100%;
  height: 565px;
  gap: 30px;
  margin-top: 20px;
}
@media (max-width: 475px) {
  .container .blogs .blogs-collettion {
    display: block;
    height: 1146px;
  }
}
.container .blogs .blogs-collettion .blog-main {
  padding: 20px;
}
.container .blogs .blogs-collettion .blog-main .each-blog {
  height: 505px;
  width: 100%;
}
.container .blogs .blogs-collettion .blog-main .each-blog img {
  height: 220px;
  width: 100%;
}
.container .blogs .blogs-collettion .blog-main .each-blog .blog-category {
  height: 35px;
  width: 100%;
}
.container .blogs .blogs-collettion .blog-main .each-blog .blog-category p {
  width: 97px;
  height: 30px;
  border-radius: 47px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #c7a0f9;
  padding: 4px 8px;
  text-align: center;
}
.container .blogs .blogs-collettion .blog-main .each-blog .blog-text {
  width: 100%;
  height: 215px;
  margin-top: 25px;
}
.container .blogs .blogs-collettion .blog-main .each-blog .blog-text h5 {
  height: 48px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #272422;
}
.container .blogs .blogs-collettion .blog-main .each-blog .blog-text p {
  height: 152px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8B857F;
  margin-top: 25px;
}
.container .blogs .blogs-collettion .blog-main .blog-link {
  height: 20px;
  display: flex;
  justify-content: end;
}
.container .blogs .blogs-collettion .blog-main .blog-link .link {
  display: block;
  height: 25px;
  width: 85px;
}
.container .blogs .blogs-collettion .blog-main .blog-link .link p {
  height: 19px;
  font-style: normal;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8B857F;
}
.container .blogs .blogs-collettion .blog-main .blog-link .link .read-line {
  width: 76px;
  height: 0;
  border: 1px solid #000000;
}
@media (max-width: 475px) {
  .container .blogs .blogs-collettion .blog-3 {
    display: none;
  }
}
.container .blogs .actions {
  width: 254px;
  height: 35px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
}
.container .blogs .actions .action-1 button {
  background-color: #7f56d9;
  width: 138px;
  height: 35px;
  border-radius: 20px;
  border: transparent;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.container .blogs .actions .action-2 {
  width: 92px;
  height: 24px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin: auto 0 auto auto;
}
.container .blogs .actions .action-2 p {
  width: 60px;
  height: 24px;
  font-style: normal;
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1b152b;
}
.container .blogs .actions .action-2 img {
  width: 24px;
  height: 24px;
}
.container .cta {
  background-image: url(./img/3\ 1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 570px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 475px) {
  .container .cta {
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    height: 570px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.container .cta .cta-main {
  width: 470px;
  height: 349px;
  position: relative;
}
@media (max-width: 475px) {
  .container .cta .cta-main {
    height: 208px;
    width: 90%;
  }
}
.container .cta .cta-main .cta-img {
  width: 100%;
}
.container .cta .cta-main .cta-img img {
  width: 58px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 475px) {
  .container .cta .cta-main .cta-img img {
    width: 48px;
    height: 46px;
  }
}
.container .cta .cta-main .cta-box {
  width: 100%;
  height: 145px;
  gap: 26px;
  margin-top: 35px;
}
@media (max-width: 475px) {
  .container .cta .cta-main .cta-box {
    height: 82px;
  }
}
.container .cta .cta-main .cta-box h3 {
  height: 69px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}
@media (max-width: 475px) {
  .container .cta .cta-main .cta-box h3 {
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.container .cta .cta-main .cta-box p {
  height: 49px;
  font-size: 20px;
  line-height: 24px;
  font-family: "Inter", serif;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
  font-weight: 400;
}
@media (max-width: 475px) {
  .container .cta .cta-main .cta-box p {
    height: 50px;
    font-size: 15px;
    line-height: 18px;
  }
}
.container .cta .cta-main .email-form {
  height: 48px;
  width: 448px;
  position: absolute;
  bottom: 0;
  border-radius: 12px;
  border: 1px solid #E2E8F1;
  background-color: #FFFFFF;
}
@media (max-width: 475px) {
  .container .cta .cta-main .email-form {
    width: 0;
    display: block;
    border: transparent;
    background-color: transparent;
  }
}
.container .cta .cta-main .email-form .email {
  border-radius: 12px;
  border: transparent;
  padding-left: 20px;
  padding-top: 17px;
}
@media (max-width: 475px) {
  .container .cta .cta-main .email-form .email {
    margin-top: 25px;
    border: 1px solid #E2E8F1;
    width: 343px;
    height: 48px;
    background-color: #FFFFFF;
    padding: 0;
    padding-left: 15px;
    margin: 17px auto;
    margin-left: 25px;
  }
}
.container .cta .cta-main .email-form button {
  width: 209px;
  height: 42px;
  border-radius: 10px;
  background-color: #7f56d9;
  border: transparent;
  margin-left: 40px;
}
@media (max-width: 475px) {
  .container .cta .cta-main .email-form button {
    margin-left: 100px;
  }
}
.container .cta .cta-main .email-form button a {
  text-decoration: none;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  background-color: #a182e4;
  background-image: url(./img/Rectangle\ 9383.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 265px;
  margin-top: 120px;
  padding-top: 26px;
}
@media (max-width: 475px) {
  .footer {
    height: 196px;
    width: 100%;
    padding-top: 15px;
  }
}
.footer .footer-line {
  width: 1148px;
  height: 0;
  border: 1px solid #FFFFFF;
  margin: 40px auto;
}
@media (max-width: 475px) {
  .footer .footer-line {
    width: 385px;
    margin: 25px auto;
  }
}
.footer .footer-logo {
  width: 1148px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
@media (max-width: 475px) {
  .footer .footer-logo {
    width: 385px;
    display: block;
    height: 62px;
    text-align: left;
  }
}
.footer .footer-logo img {
  width: 173px;
  height: 24px;
}
.footer .footer-logo .footer-ul {
  width: 360px;
  height: 22px;
  display: flex;
  gap: 20px;
}
@media (max-width: 475px) {
  .footer .footer-logo .footer-ul {
    margin-top: 10px;
    width: 257px;
  }
}
.footer .footer-logo .footer-ul li {
  height: 22px;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.footer .footer-logo .footer-ul li a {
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 475px) {
  .footer .footer-logo .footer-ul .li {
    display: none;
  }
}
.footer .footer-year {
  height: 17px;
  width: 1148px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .footer .footer-year {
    width: 251px;
  }
}
.footer .footer-year p {
  width: 251px;
  height: 17px;
  font-style: normal;
  font-family: "Manrope", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #FFFFFF;
}
.footer .footer-year .year-ul {
  display: flex;
  gap: 20px;
  height: 16px;
  width: 91px;
}
@media (max-width: 475px) {
  .footer .footer-year .year-ul {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */